html, body { 
	margin: 0;
	padding: 0;
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p { margin: 0; padding: 0; }

a { 
	text-decoration: none;
}

body { 
	background-color: #fff; 
	font-family: verdana, arial, sans-serif;
	color: #c0c0c0;
	font-size: 87.5%;
	position:relative;
}

html > body {
	font-size: 14px;
	line-height:100%;
}

.wrapper { 
	width: 200px;
	margin: 0 auto;
	height: 50%;
}

.header {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -200px;
	width: 200px;
	height: 200px;
	text-align: center;
}

.site-logo {
	width: 200px;
	height: 200px;
}
.site-title a {
	color: #c0c0c0;
}
.site-title a:hover {
	color: #414141;
}
@media (max-width: 480px) {
	.header {
		top: 75%;
	}
}